#getbowtied_dashboard_iframe {
	width: 100%;
	min-width: 100%;
	min-height: calc(100vh - 32px);
	opacity: 0;
	animation: fadeInFromNone .3s ease-out;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

@keyframes fadeInFromNone {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* Freemius */

.fs-notice {

	&[data-id='connect_account'],
	&[data-id='activation_pending'] {

		&.fs-slug-shopkeeper,
		&.fs-slug-block-shop,
		&.fs-slug-theretailer,
		&.fs-slug-mrtailor,
		&.fs-slug-the-hanger,
		&.fs-slug-merchandiser {
			color: inherit;
			border-left-color: #d63638;

			.fs-close {
				display: none;
			}
		}

	}
}

.fs-box-container {
	.gbt_fs_complete_activation_link {
		text-decoration: none !important;

		strong {
			font-weight: normal;
		}
	}
}